@model CarShowroom.Models.LoginViewModel
@{
    ViewBag.Title = "Выполнить вход";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {id = "login-form-wrap", @class = "login", role = "form"}))
                    {
                        @Html.AntiForgeryToken()
                        <p>Используйте локальную учетную запись для входа.</p>
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                        <p class="form-row form-row-first">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new {@class = "input-text"})
                            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                        </p>
                        <p class="form-row form-row-last">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new {@class = "input-text"})
                            @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                        </p>
                        <div class="clear"></div>

                        <p class="form-row">
                            <input type="submit" value="Войти" name="login" class="button">
                            <label class="inline" for="rememberme">@Html.CheckBoxFor(m => m.RememberMe, new {name = "rememberme", id = "rememberme"}) Запомнить</label>
                        </p>
                        <p>
                            @Html.ActionLink("Регистрация нового пользователя", "Register")
                        </p>
                        @* Включите, когда будет включено подтверждение учетной записи для функции сброса пароля
                            <p>
                                @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                            </p>*@
                    }
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}