@model IEnumerable<CarShowroom.Domain.Entities.DriveUnit>

@{
    ViewBag.Title = "Типы привода";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="admin-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    @Html.ActionLink("Добавить", "Create", "DriveUnit", null, new {@class = "custom-btn"})
                </div>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Body)
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Body)
                            </td>
                            <td>
                                @Html.ActionLink("Редактировать", "Update", new {id = item.Id}) |
                                @Html.ActionLink("Удалить", "Delete", new {id = item.Id})
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>