@model CarShowroom.Models.ViewModels.CarViewModel

@{
    ViewBag.Title = "CreateCar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateCar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
    <h4>Car</h4>
    <hr/>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="form-group">
        @Html.LabelFor(model => model.Car.Name, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.Name, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.Name, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Cost, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.Cost, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.Cost, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Discount, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.Discount, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.Discount, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Count, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.Count, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.Count, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.DateCreated, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.DateCreated, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.DateCreated, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.DateAdded, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.DateAdded, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.DateAdded, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Width, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.Width, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.Width, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Height, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.Height, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.Height, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Length, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.Length, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.Length, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Wheelbase, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.Wheelbase, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.Wheelbase, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Clearance, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.Clearance, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.Clearance, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.TrunkVolume, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.TrunkVolume, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.TrunkVolume, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.FuelTankVolume, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.FuelTankVolume, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.FuelTankVolume, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Weight, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.Weight, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.Weight, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.DoorCount, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.DoorCount, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.DoorCount, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.EngineVolume, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.EngineVolume, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.EngineVolume, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.CylindersCount, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.CylindersCount, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.CylindersCount, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Supercharger, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Car.Supercharger)
                @Html.ValidationMessageFor(model => model.Car.Supercharger, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.EnginePower, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.EnginePower, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.EnginePower, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.MaxSpeed, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.MaxSpeed, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.MaxSpeed, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.TopGear, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.TopGear, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.TopGear, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Acceleration, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.Acceleration, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.Acceleration, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.FuelConsumption, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.FuelConsumption, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.FuelConsumption, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.SeatFinish, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.EditorFor(model => model.Car.SeatFinish, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.SeatFinish, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.ConditioningSystem, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Car.ConditioningSystem)
                @Html.ValidationMessageFor(model => model.Car.ConditioningSystem, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.AdjustableSteeringColumn, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Car.AdjustableSteeringColumn)
                @Html.ValidationMessageFor(model => model.Car.AdjustableSteeringColumn, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Heating, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Car.Heating)
                @Html.ValidationMessageFor(model => model.Car.Heating, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Navigation, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Car.Navigation)
                @Html.ValidationMessageFor(model => model.Car.Navigation, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.Signaling, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Car.Signaling)
                @Html.ValidationMessageFor(model => model.Car.Signaling, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.CruiseControl, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Car.CruiseControl)
                @Html.ValidationMessageFor(model => model.Car.CruiseControl, "", new {@class = "text-danger"})
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.BodyTypeId, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Car.BodyTypeId, Model.BodyTypes, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.BodyTypeId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.EngineId, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Car.EngineId, Model.Engines, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.EngineId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.TransmissionId, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Car.TransmissionId, Model.Transmissions, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.TransmissionId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.DriveUnitId, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Car.DriveUnitId, Model.DriveUnits, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.DriveUnitId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.CarTypeId, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Car.CarTypeId, Model.CarTypes, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.CarTypeId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.BrandId, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Car.BrandId, Model.Brands, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.BrandId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Car.HeadlightId, new {@class = "control-label col-md-2"})
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Car.HeadlightId, Model.Headlights, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(model => model.Car.HeadlightId, "", new {@class = "text-danger"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default"/>
        </div>
    </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>