@model CarShowroom.Domain.Entities.Brand

@{
    ViewBag.Title = "Изменить: " + Model.Body;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div>
                    @Html.ActionLink("Вернуться назад", "Index")
                </div>
                @using (Html.BeginForm("Update", "Brand", FormMethod.Post, new {@class = "form-wrap", enctype = "multipart/form-data"}))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                    @Html.HiddenFor(model => model.Id)
                    <p class="form-row form-row-first form-row-full-width">
                        @Html.LabelFor(m => m.Body)
                        @Html.TextBoxFor(m => m.Body, new {@class = "input-text"})
                        @Html.ValidationMessageFor(m => m.Body, "", new {@class = "text-danger"})
                    </p>
                    if (Model.Image != null)
                    {
                        <p class="form-row form-row-first form-row-full-width">
                            <img src="@Url.Action("GetBrandImage", "Image", new {Model.Id})" class="img-responsive"/>
                        </p>
                    }
                    <p class="form-row form-row-last form-row-full-width">
                        <input type="file" id="image" name="image" size="40" accept="image/*" class="inputfile" onchange='$("#upload-file-info").html($(this).val());'>
                        <label id="upload-file-info" for="image">изображение</label>
                    </p>

                    <p class="form-row form-row-first form-row-full-width">
                        @Html.LabelFor(m => m.Country)
                        @Html.TextBoxFor(m => m.Country, new {@class = "input-text"})
                        @Html.ValidationMessageFor(m => m.Country, "", new {@class = "text-danger"})
                    </p>

                    <p class="form-row">
                        <input type="submit" value="Изменить" class="button">
                    </p>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}