@using CarShowroom.Helpers
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()

        <ul>
            <li>
                @Html.InnerHtmlActonLink("<i class=\"fa fa-user\"></i> Мой аккаунт", "Index", "Manage", null, null)
            </li>
            @if (!User.IsInRole("Admin"))
            {
                <li>
                    <a href="#"><i class="fa fa-heart"></i> Желаемые авто</a>
                </li>
                <li>
                    <a href="cart.html"><i class="fa fa-shopping-cart"></i> Моя корзина</a>
                </li>
                <li>
                    <a href="checkout.html"><i class="fa fa-bank"></i> Заказ</a>
                </li>
            }
            @if (User.IsInRole("Admin"))
            {
                <li>
                    @Html.InnerHtmlActonLink("<i class=\"fa fa-gear\"></i> Панель администратора", "Index", "Admin", null, null)
                </li>
            }
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-in"></i> Выйти</a>
            </li>
        </ul>
    }
}
else
{
    <ul>
        <li>
            <a href="cart.html"><i class="fa fa-shopping-cart"></i> Моя корзина</a>
        </li>
        <li>
            @Html.InnerHtmlActonLink("<i class=\"fa fa-sign-in\"></i> Регистрация", "Register", "Account", null, new {id = "loginLink"})
        </li>
        <li>
            @Html.InnerHtmlActonLink("<i class=\"fa fa-sign-in\"></i> Вход", "Login", "Account", null, new {id = "loginLink"})
        </li>
    </ul>
}